
    /*NAVBAR*/
    .menu {
        display: flex;
        justify-content: space-evenly;
      }
      
      .menu .nav-item {
        list-style-type: none;
      }
      
      .menu .nav-item .nav-link {
        margin: 20px;
        text-decoration: none;
      }
      
      .menu .nav-item .nav-link.active {
        /* Aktif sayfa stilleri */
      }
      
      .menu .nav-item .nav-link:hover {
        /* Üzerine gelindiğindeki stiller */
      }
      
      .menu .nav-item.dropdown .nav-link.dropdown-toggle {
        margin: 20px;
        text-decoration: none;
      }
      
      .menu .nav-item.dropdown .nav-link.dropdown-toggle::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-left: 5px;
      }
      
      /*CART CONTENT*/
      .row
      {
        margin:30px;
      }

      .row .col-8 .header
      {
        margin:30px;
      }

      /*SAMPLE PRODUCT*/
      .row .col-8 .items
      {
        margin: 6px; 
        padding:10px ; 
        box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.132);
      }

      .row .col-8 .items img
      {
        width:100px ;height:100px ;
      }

      .row .col-md-4
      {
        background: white;
      }

      /*CHECKOUT SECTION*/
      .row .col-md-4 .checkoutBtn button
      {
        border-radius: 10px; 
        padding:8px; 
        color:white; border-color: white;
        background-color: rgb(99, 161, 224);
      }
