
    /*NAVBAR*/
    .menu {
        display: flex;
        justify-content: space-evenly;
      }
      
      .menu .nav-item {
        list-style-type: none;
      }
      
      .menu .nav-item .nav-link {
        margin: 20px;
        text-decoration: none;
      }
      
      .menu .nav-item .nav-link.active {
        /* Aktif sayfa stilleri */
      }
      
      .menu .nav-item .nav-link:hover {
        /* Üzerine gelindiğindeki stiller */
      }
      
      .menu .nav-item.dropdown .nav-link.dropdown-toggle {
        margin: 20px;
        text-decoration: none;
      }
      
      .menu .nav-item.dropdown .nav-link.dropdown-toggle::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 5px solid;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-left: 5px;
      }
      


    /*SPACE*/
      .space
      {
        height:50px ;
      }

      /*CONTAINER*/ 
      .container .card
      {
        width:18rem;
        background-color:hsla(0, 0%, 100%, 0.949);
        border: none;
        
        margin-top: 200px;
        margin-right: 10px;
        flex-shrink: 0;
      }

      .container .card img{
        height: 210px;
        width: 280px;

      }

      .container .choose
      {
       background-color:hsla(0, 42%, 93%, 0.949);
      width:800px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 50px;
      padding-right: 50px;
      
      }

    

      .container .option
      {
       background-color:rgba(12, 11, 11, 0.026); 
       border-radius: 10px;
       width: 100px;
      }

      .container .d-grid img
      {
        background-color: rgb(244, 238, 238); 
        border-radius: 10px;
      }

      .container .option
      {
        background-color: rgb(135, 135, 171);
        color:white;
      }

      
      
